* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, #3b343c, #21201e, #3b343c);
  color: #fff6e0;
  overscroll-behavior: none;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url(images/darkgradient.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

.nav-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  padding: 25px 10%;
  backdrop-filter: blur(8px);
  z-index: 9999;
}

span {
  color: #d8d9da;
}

.logo {
  font-size: 30px;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff6e0;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.row {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.perkenalan {
  margin-top: 15%;
  font-size: 30px;
}

.perkenalan h1 {
  font-size: 50px;
  margin-top: 10px;
}

.pasphoto {
  padding-top: 40px;
  flex-basis: 30%;
}

.pasphoto img {
  width: 100%;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  background-image: linear-gradient(to right, #3b343c, #61677a, #3b343c);
  border-radius: 10%;
  border: 0.1px solid #413a41;
}

#materi {
  padding: 50px 0 0 0;
  margin-bottom: 150px;
}

.sub-title {
  text-align: center;
  font-size: 60px;
}

.penjelasan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.penjelasan div {
  background: #272829;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.penjelasan div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.penjelasan div a {
  text-decoration: none;
  color: #fff6e0;
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
}

.penjelasan div:hover {
  background: #61677a;
  transform: translateY(-10px);
}

.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #b5edfc;
  font-size: 25px;
}

.social-icons {
  text-align: center;
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 70px;
  margin: 0px 5px;
  color: #61677a;
  display: inline-block;
  transform: transform 0.5s;
}

.social-icons a:hover {
  color: #fff6e0;
  transform: translateY(-5px);
}

.btn-div {
  text-align: center;
  font-size: 12px;
}

.btn {
  background: #61677a;
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff6e0;
}

.btn-div a:hover {
  color: #272829;
  background-color: #fff6e0;
  transform: translateY(-5px);
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0px;
  font-weight: 300;
  border-top: 0.1px solid #ffffff14;
}

.copyright a {
  text-decoration: none;
  color: #fff6e0;
}

/* Untuk Halaman Materi */

.container-materi {
  padding: 100px 10%;
}
.container-materi .sub-title {
  padding-bottom: 50px;
}

.container-isi {
  padding: 10px 10%;
}

.content {
  padding: 30px 5%;
  background-color: #21201e;
  border: 0.1px solid #3e373e;
  border-radius: 50px;
}
.content p {
  margin: 10px 0;
  font-size: 18px;
}

#pembahasan {
  padding: 10px;
}

.row-isi {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.isi {
  width: 45%;
  text-align: justify;
  padding: 0 10px;
}
.isi a {
  text-decoration: none;
  color: #61677a;
}
.isi h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #d8d9da;
}

.pict {
  width: 50%;
  text-align: justify;
  padding: 0 10px;
}

.pict img {
  width: 100%;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens smaller than or equal to 768px */
  .container {
    padding: 50px 5%;
  }

  .nav-home {
    padding: 10px 5%;
  }
  .logo {
    font-size: 12px;
  }
  .nav-home a {
    font-size: 12px;
  }
  .sub-title {
    text-align: center;
    font-size: 30px;
  }

  .social-icons a {
    font-size: 50px;
  }
  .btn {
    background: #61677a;
    display: inline-block;
    margin: 15px auto;
    width: fit-content;
    padding: 14px 5px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff6e0;
  }
  .row {
    flex-direction: column;
    padding-top: 30px;
  }

  .perkenalan {
    font-size: 20px;
    text-align: center;
  }

  .perkenalan h1 {
    font-size: 20px;
    text-align: center;
  }

  .pasphoto {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
  }
  .pasphoto img {
    width: 90%; /* adjust this value as needed */
    height: auto; /* maintain the aspect ratio */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 10%;
  }

  #materi {
    padding: 50px 0 0 0;
    margin-bottom: 0px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  /* materi */
  #judul {
    padding-top: 60px;
  }
  .container-materi {
    padding: 0px 5%;
  }
  .container-materi .sub-title {
    padding-bottom: 30px;
    font-size: 30px;
  }

  .container-isi {
    padding: 10px 5%;
  }

  .content {
    padding: 30px 5%;
    background-color: #21201e;
    border: 0.1px solid #3e373e;
    border-radius: 50px;
  }
  .content p {
    margin: 10px 0;
    font-size: 10px;
  }

  #pembahasan {
    padding: 10px;
  }

  .row-isi {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .isi {
    width: 100%;
    text-align: justify;
    padding: 0 10px;
  }
  .isi h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #d8d9da;
  }
  .isi p {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .pict {
    width: 100%;
    text-align: justify;
    padding: 0 10px;
  }

  .pict img {
    width: 100%;
    border-radius: 10px;
  }
}
